.Page{
    width: 30vw;
    margin: 4em auto;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 1em;
    & form{
        padding: 0 15%;
        & button{
            font-size: 1.5em;
            margin-top: 1em;
            width: 100%;
            border-radius: 1em;
            background-color: #00DBDE;
            background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
        }
    }
}
.signup{
    & form{
        padding: 0 10%;
    }
}
.bottom_msg{
    padding: 3em 0;
    cursor: pointer;
    &:hover{
        color: #00DBDE;
    }
}
.dashboard{
    background-color: white;
}
